*, *::before, *::after {
  box-sizing: border-box;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(127, 127, 130, 0.1);
}

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Italic';
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg rect {
  stroke: #22222B;
  stroke-width: 1;
  transition: 0.8s;
  stroke-dasharray: 50, 600;
  stroke-dashoffset: 20;
}

.container {
  max-width: 1170px;
}

@media (max-width: 1170px) {
  .container {
    padding: 0 15px;
  }
}

.logo {
  width: 188px;
  height: 43px;
}

.section-title {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 36px;
  color: black;
  text-align: center;
}

.section-title_big {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 48px;
  color: black;
}

.section-title_extra-bold {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 60px;
  color: #000000;
}

.section-title_extra {
  font-family: 'Roboto Thin', sans-serif;
  font-size: 60px;
  color: black;
}

.section-title__border {
  width: inherit;
  height: 100%;
}

.link {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #22222B;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1140px) {
  .link {
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  svg rect {
    stroke-dasharray: 50, 506;
  }
  .section-title {
    font-size: 30px;
  }
  .section-title_extra, .section-title_extra-bold {
    font-size: 48px;
  }
}

@media screen and (max-width: 500px) {
  .section-title_extra, .section-title_extra-bold {
    font-size: 30px;
  }
  svg rect {
    stroke-dasharray: 40, 300;
  }
  .logo {
    width: 140px;
  }
}

.header {
  position: relative;
  height: 960px;
  width: 100%;
  background-image: url("../img/hero-bg.jpeg");
  background-size: auto auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left 54%;
  overflow: hidden;
}

@media (max-width: 1141px) {
  .header {
    background-size: cover;
  }
}

.navbar {
  width: 100%;
  height: 80px;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: auto;
}

@media (max-width: 1140px) {
  .navbar__inner {
    align-items: center;
  }
}

.navbar__link {
  padding-bottom: 8px;
  color: #000000;
  transition: .4s;
}

.navbar__link:hover {
  border-bottom: 1px solid #22222B;
}

.navbar__link-container {
  display: flex;
  justify-content: space-between;
  width: 531px;
  padding-bottom: 4px;
}

@media (max-width: 1140px) {
  .navbar__link-container {
    display: none;
  }
}

.navbar-logo_sticky {
  margin: auto 0;
  height: 35px;
}

.navbar_sticky {
  position: fixed;
  transition: .5s;
  top: 0;
  height: 55px;
  background-color: #fff;
  z-index: 4;
}

.navbar_sticky_transp {
  background-color: transparent;
}

@media (min-width: 1141px) {
  .navbar_sticky {
    background-color: #fff !important;
  }
}

.menu-icon {
  height: 30px;
  width: 30px;
  margin: auto 0;
  transition: .5s;
  cursor: pointer;
}

.menu-icon_hidden {
  opacity: 0;
}

.menu-icon_sticky {
  transition: .2s;
  height: 20px;
  width: 20px;
}

@media (min-width: 1141px) {
  .menu-icon {
    display: none !important;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
  width: 100%;
  margin: auto;
}

.hero-title__wrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 564px;
  height: 86px;
  margin-top: -56px;
}

@media (max-width: 610px) {
  .hero-title__wrap {
    width: inherit;
  }
}

.sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 15px;
  background-color: #ffffff;
  transition: .5s;
  z-index: 5;
  transform: translateX(-120%);
}

@media (min-width: 1141px) {
  .sidebar {
    transform: translateX(-120%) !important;
  }
}

.sidebar__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sidebar-hide-btn {
  position: absolute;
  top: 10px;
  right: -50px;
  width: 30px;
  height: 40px;
  background-image: url("../img/move.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sidebar-icon_big {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.sidebar-title {
  margin-top: 40px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.sidebar-nav__link {
  position: relative;
  font-size: 20px;
  padding: 3px 0;
  margin-bottom: 8px;
  transition: .3s;
}

.sidebar-nav__link:hover {
  border-bottom: 1px solid #7f7f82;
}

@media (max-width: 800px) {
  .header {
    height: 100vh;
  }
  .hero {
    height: calc( 100vh - 80px);
  }
  .hero-title__wrap {
    width: 470px;
  }
}

@media (max-width: 500px) {
  .hero-title__wrap {
    width: 290px;
    height: 50px;
  }
  .sidebar-icon_big {
    height: 220px;
    width: 220px;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .sidebar-hide-btn {
    right: 0;
  }
  .sidebar-icon_big {
    height: 180px;
    width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */