$black: #22222B
$grey: #7F7F82
$greySec: #FAF9FE

h1
  margin: 0

svg 
  position: absolute
  top: 0
  left: 0

svg rect 
  stroke: $black
  stroke-width: 1
  transition: 0.8s
  stroke-dasharray: 50, 600
  stroke-dashoffset: 20


.container
  max-width: 1170px
  @media  ( max-width: 1170px )
    padding: 0 15px
  
  
.logo
  width: 188px
  height: 43px

.section-title
  +regular
  font-size: 36px
  color: black
  text-align: center
  &_big
    +medium
    font-size: 48px
    color: black
  &_small
    +regular
    font-size: 22px
    color: $black
  &_extra-bold
    +medium
    font-size: 60px
    color: #000000
  &_extra
    +light
    font-size: 60px
    color: black
  &__border
    width: inherit
    height: 100%
  @media  ( max-width: 1140px )
    &_big
      font-size: 40px

   

.description
  +regular  
  color: $grey
  line-height: 1.6
  &_big
    font-size: 16px
  &_small
    font-size: 14px
  &_cursive
    color: $grey
    font-size: 18px
    +italic
  @media screen and ( max-width: 1140px )
    &_big
      font-size: 14px
    &_small
      font-size: 12px
    &_cursive
      font-size: 16px

.link
  +regular
  font-size: 16px
  text-decoration: none
  border-bottom: 1px solid transparent
  color: $black
  -webkit-tap-highlight-color: transparent
  &_sec
    +regular
    font-size: 14px
    text-decoration: none
    color: $black
  @media ( max-width: 1140px )
    font-size: 14px

.label
  +medium
  font-size: 16px    

.btn
  +regular
  font-size: 16px
  text-decoration: none
  text-align: center

.hidden
  display: none



@media screen and ( max-width: 800px )
  svg rect 
    stroke-dasharray: 50, 506
  .section-title
    font-size: 30px
    &_extra, &_extra-bold
      font-size: 48px

@media screen and ( max-width: 500px )
  .section-title
    font-size: 28px
    &_extra, &_extra-bold, &_big
      font-size: 30px
    &_small
      font-size: 18px
  svg rect 
    stroke-dasharray: 40, 300
  .logo
    width: 140px
  
