.stats
  width: 100%
  height: 352px
  background-color: $greySec
  &__inner
    width: 100%
    height: 100%
    margin: auto
  &-box
    display: flex
    align-items: center
    justify-content: space-around
    width: 100%
    height: 100%
    &__item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 150px
      width: 170px
    &__item div
      transform: scale(0)
      opacity: 0
      transition: .8s
    &__item h3
      transform: translateY(-100%)
      opacity: 0
      transition: 1s
    &__item span 
      transition: 1s
      transform: translateY(100%)
      opacity: 0
    &__item:nth-child(1) div, &__item:nth-child(1) h3, &__item:nth-child(1) span
      transition-delay: .2s
    &__item:nth-child(2) div, &__item:nth-child(2) h3, &__item:nth-child(2) span
      transition-delay: .5s
    &__item:nth-child(3) div, &__item:nth-child(3) h3, &__item:nth-child(3) span
      transition-delay: .8s
    &__item:nth-child(4) div, &__item:nth-child(4) h3, &__item:nth-child(4) span
      transition-delay: 1.1s
    &__item.active div
      transform: scale(1)
      opacity: 1
    &__item.active span, &__item.active h3
      transform: translateY(0)
      opacity: 1
    &-logo
      width: 25px
      height: 25px
      &__container
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 24px
        width: 70px
        height: 70px
        border-radius: 50%
        background-color: $black
    &-number
      margin: 0
      margin-bottom: 9px
      +medium
      color: $black
      font-size: 24px
      text-align: center
    &-text
      color: $black
      text-transform: uppercase
      margin-bottom: -5px
      text-align: center

@media ( min-width: 2000px )
  .stats
    height: 500px
    &-box
      &__item
        height: 200px
        width: 230px
      &-number
        font-size: 32px
      &-logo
        width: 35px
        height: 35px
        &__container
          width: 90px
          height: 90px

@media (max-width: 700px)
  .stats
    height: 600px
    &-box
      flex-wrap: wrap
      align-content: space-evenly
      &__item
        height: 170px
        flex-basis: 40%
      
@media ( max-width: 500px )
  .stats
    height: 420px
    &-box
      &__item
        flex-basis: 50%
        height: 130px
      &-logo
        width: 20px
        height: 20px
        &__container
          width: 50px
          height: 50px
      &-number
        margin: 0
        font-size: 18px
      &-text
        font-size: 12px
      
  